 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }

 html {
	 font-family: "Arial", sans-serif;
 }

 body {
	 background-color: hsl(260, 33%, 98%);
	 color: hsl(240, 5%, 70%);
 }

 h1 {
	 color: black;
	 font-size: 1.7rem;
 }

 p {
	 font-size: 12px;
	 line-height: 1.7;
	 letter-spacing: 1.2px;
 }

 .container {
	 max-width: 1100px;
 }

  .hero {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 gap: 3rem;
  }

 .hero-logo {
	 max-width: 100%;
	 height: auto;
	 display: block;
	 margin-top: 3rem;
 }

 .hero-imgs {
	 display: flex;
	 justify-content: center;
	 gap: 30px;
 }

 .hero-img {
	 width: 60%;
	 height: auto;
 }

 main {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-evenly;
 }

 .page-1 {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 gap: 20px;
 }   

 .page-1-title {
	 width: 55%;
	 padding-top: 35px;
 }

 .page-1-text {
	 width: 78%;
	 padding-left: 10px;
	 text-transform: none;
	 margin: 0;
	 color: hsl(0, 0%, 55%);
	 letter-spacing: 0;
 }

 .page-1 a {
	 color: hsl(0, 0%, 100%);
 }

 .btn {
	 width: 45%;
	 display: flex;
	 flex-direction: column;
 }

 .btn-download {
	 background-color: #4e96a7;
	 margin-bottom: 15px;
 }

 .version {
	 color: #79c0d5;
	 padding-left: 8px;
 }

 .btn-what-is-it {
	 width: 80%;
	 background: #855fb0;
	 margin: 0 auto;
 }

 .vertical-line-align {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
 }

 .vertical-line {
	 border-left: 1px solid hsl(260, 4%, 86%);
	 height: 75px;
	 margin-top: 40px;
 }

 .page-marker {
	 width: 45px;
	 height: 45px;
	 border: 1px solid hsl(260, 4%, 86%);
	 border-radius: 50%;
	 padding: 11px;
	 margin-top: 0;
	 margin-bottom: 1rem;
 }

 .page-marker--modify {
	 color: hsl(235, 10%, 75%);
 }

 .page-marker--modify-overlay {
	 top: -20px;
	 z-index: 10; 
	 background-color: hsl(255, 40%, 98%);    
 }

 .page-2 {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: center;
	 gap: 12px;
 }

 .page-2__img {
	 width: 42%;
	 height: 42%;
	 border-radius: 7%;
 }

.page-2-ad-text {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 gap: 10px;
}

.page-2__h1--modify, .page-3__h1--modify {
    width: 80%;
    font-weight: 900;
    text-transform: none;
    letter-spacing: 0;
}

 .page-2, p {
	 margin-top: 30px;
	 letter-spacing: 3px;
	 text-transform: uppercase;
	 color: hsl(194, 52%, 50%);
 }

 .page-2__p--modify {
	 width: 80%;
	 margin-top: 20px;
	 color: hsl(240, 5%, 70%);
	 letter-spacing: 0;
	 text-transform: none;
 }

 .page-3-style {
	 background-color: hsl(192, 33%, 51%);
	 color: hsl(260, 4%, 86%);
     padding: 50px 35px;
	 margin-top: -39px;
	 position: relative;
 }

 .page-3__h1--modify, .page-3__p--modify {
	 color: hsl(260, 4%, 92%);
 }

 .page-3__h1--modify {
    width: 100%;
 }

 .page-3__p--modify {
    margin-top: 0;
    width: 95%;
    text-transform: none;
    letter-spacing: 0;
    padding-top: 15px;
    padding-bottom: 20px;
 }

 .page-3__btn-download--modify {
	 width: 49%;
	 background-color: hsl(267, 33%, 54%);
	 margin-bottom: 40px;
	 color: hsl(260, 4%, 92%);
	 font-size: .60rem;
     padding: 8px 14px;
}

/*          Utility class for centering text.          */

.center-text {
    text-align: center;
}

/*          Utility class for styling the button.      */

.btn-style {
    padding-left: 3em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-decoration: none;
    border-radius: 999em;
    font-size: .6rem;
}







